*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading{
    color:palevioletred;
    margin-left: 20px;
}
span{
    color: black;
}
.menu1 ul{
    display: flex;
    list-style: none;
}
.menu1 li{
    border-left: 2px solid white;
    padding: 15px;
}
.menu1 a{
    text-decoration: none;
    color: white;
}
.image{
    background: url(Regional-Neurological_Brain-Science.jpeg) no-repeat scroll center /cover;
    height: 600px;
}
.mid{
    background-color: skyblue;
    position: relative;
}
.paragraph1{
    display: flex;
    position: absolute;
    bottom: -100px;
}
.paragraph1 p{
    border: 2px solid;
    margin: 0 10px;
    background-color: skyblue;
    border-radius: 10px;
}
.down{
    background-color: skyblue;
}
.down1{
    display: flex;
    padding-top: 120px;
}
.menu2 ul{
    border-right: 2px solid white;
    list-style: none;
    width: 200px;
    padding: 5px;
}
.menu2 li{
    margin: 25px;
    padding: 5px;
    color:skyblue;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.paragraph2{
    padding: 10px;
    margin-left: 10px;
}
.paragraph2 p{
    padding: 10px;
}
.menu1 li a:hover{
    color: black;
}

